include _header.jade
	
	<div class="tariff_block_wr tariff_banner">
		<div class="block_inner">
			<div class="title">
				<div class="title_text">Популярные тарифы</div>
				<div class="slider_arrow">
					<div class="sl_arrow arrow_prev"></div>
					<div class="sl_arrow arrow_next"></div>
				</div>
			</div>
			<div class="inner">
				<div class="slider_tariff">
					<div class="item_sl">
						<a href="#" class="item tariff_night">
							<span class="name">тариф all night</span>
							<span class="tags">
								<span>TAS-IX</span>
								<span>FTTX</span>
								<span>Безлимит</span>
							</span>
							<ul>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t1.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 1:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t2.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 1:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t3.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 13:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t2.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Оплата в офисе или через PayMe</div>
								</li>
							</ul>
							<span class="btn">подключитесь сегодня</span>
						</a>
					</div>
					<div class="item_sl">
						<a href="#" class="item tariff_star">
							<span class="name">тариф star</span>
							<span class="tags">
								<span>TAS-IX</span>
								<span>FTTX</span>
								<span>Безлимит</span>
							</span>
							<ul>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t1.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 1:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t2.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 1:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t3.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 13:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t2.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Оплата в офисе или через PayMe</div>
								</li>
							</ul>
							<span class="btn">подключитесь сегодня</span>
						</a>
					</div>
					<div class="item_sl">
						<a href="#" class="item tariff_student">
							<span class="name">тариф student</span>
							<span class="tags">
								<span>TAS-IX</span>
								<span>FTTX</span>
								<span>Безлимит</span>
							</span>
							<ul>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t1.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 1:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t2.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 1:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t3.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 13:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t2.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Оплата в офисе или через PayMe</div>
								</li>
							</ul>
							<span class="btn">подключитесь сегодня</span>
						</a>
					</div>
					<div class="item_sl">
						<a href="#" class="item tariff_student">
							<span class="name">тариф student</span>
							<span class="tags">
								<span>TAS-IX</span>
								<span>FTTX</span>
								<span>Безлимит</span>
							</span>
							<ul>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t1.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 1:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t2.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 1:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t3.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Скорость с 13:00 до 13:00</div>
								</li>
								<li>
									<div class="l_name">
										<div class="icon">
											<img src="files/icon_t2.svg" alt="">
										</div>
										<div class="l_name_text">100 мбит/c</div>
									</div>
									<div class="body">Оплата в офисе или через PayMe</div>
								</li>
							</ul>
							<span class="btn">подключитесь сегодня</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="preim_block_wr">
		<div class="block_inner">
			<div class="item">
				<div class="name">
					<div class="icon">
						<img src="files/icon1.svg" alt="">
					</div>
					<div class="name_text">бесперебойная связь</div>
				</div>
				<div class="text">Интегратор современных операторских решений, актуальной задачей которых является развитие </div>
			</div>
			<div class="item">
				<div class="name">
					<div class="icon">
						<img src="files/icon2.svg" alt="">
					</div>
					<div class="name_text">техподдержка 24/7 </div>
				</div>
				<div class="text">Интегратор современных операторских решений, актуальной задачей которых является развитие </div>
			</div>
			<div class="item">
				<div class="name">
					<div class="icon">
						<img src="files/icon3.svg" alt="">
					</div>
					<div class="name_text">скоростное подключение</div>
				</div>
				<div class="text">Интегратор современных операторских решений, актуальной задачей которых является развитие </div>
			</div>
		</div>
	</div>	
	<div class="tariff_block_items">
		<div class="block_inner">
			<div class="title">Все тарифы</div>
			<div class="inner_tariff">
				<div class="item_sl">
					<a href="#" class="item">
						<span class="name">тариф all night</span>
						<span class="tags">
							<span>TAS-IX</span>
							<span>FTTX</span>
							<span>Безлимит</span>
						</span>
						<ul>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t1.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t3.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 13:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Оплата в офисе или через PayMe</div>
							</li>
						</ul>
						<span class="btn">подключитесь сегодня</span>
					</a>
				</div>
				<div class="item_sl">
					<a href="#" class="item">
						<span class="name">тариф star</span>
						<span class="tags">
							<span>TAS-IX</span>
							<span>FTTX</span>
							<span>Безлимит</span>
						</span>
						<ul>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t1.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t3.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 13:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Оплата в офисе или через PayMe</div>
							</li>
						</ul>
						<span class="btn">подключитесь сегодня</span>
					</a>
				</div>
				<div class="item_sl">
					<a href="#" class="item">
						<span class="name">тариф student</span>
						<span class="tags">
							<span>TAS-IX</span>
							<span>FTTX</span>
							<span>Безлимит</span>
						</span>
						<ul>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t1.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t3.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 13:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Оплата в офисе или через PayMe</div>
							</li>
						</ul>
						<span class="btn">подключитесь сегодня</span>
					</a>
				</div>
				<div class="item_sl">
					<a href="#" class="item">
						<span class="name">тариф student</span>
						<span class="tags">
							<span>TAS-IX</span>
							<span>FTTX</span>
							<span>Безлимит</span>
						</span>
						<ul>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t1.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t3.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 13:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Оплата в офисе или через PayMe</div>
							</li>
						</ul>
						<span class="btn">подключитесь сегодня</span>
					</a>
				</div>
				<div class="item_sl">
					<a href="#" class="item">
						<span class="name">тариф student</span>
						<span class="tags">
							<span>TAS-IX</span>
							<span>FTTX</span>
							<span>Безлимит</span>
						</span>
						<ul>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t1.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 1:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t3.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Скорость с 13:00 до 13:00</div>
							</li>
							<li>
								<div class="l_name">
									<div class="icon">
										<img src="files/icon_t2.svg" alt="">
									</div>
									<div class="l_name_text">100 мбит/c</div>
								</div>
								<div class="body">Оплата в офисе или через PayMe</div>
							</li>
						</ul>
						<span class="btn">подключитесь сегодня</span>
					</a>
				</div>
			</div>
		</div>
	</div>
		
	<div class="map_block">
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A99b98a272033a3efe8e2aa8635ce3b68d313014d272fee3ac770bc635bb6a4ec&amp;source=constructor" width="100%" height="570" frameborder="0"></iframe>
	</div>
	<div class="partner_block_wr">
		<div class="block_inner">
			<div class="title">партнеры</div>
			<div class="inner">
				<a href="#">
					<img src="files/part1.png" alt="">
				</a>
				<a href="#">
					<img src="files/part2.png" alt="">
				</a>
				<a href="#">
					<img src="files/part3.png" alt="">
				</a>
				<a href="#">
					<img src="files/part4.png" alt="">
				</a>
				<a href="#">
					<img src="files/part5.png" alt="">
				</a>
				<a href="#">
					<img src="files/part6.png" alt="">
				</a>
				<a href="#">
					<img src="files/part7.png" alt="">
				</a>
				<a href="#">
					<img src="files/part8.png" alt="">
				</a>
				<a href="#">
					<img src="files/part9.png" alt="">
				</a>
				<a href="#">
					<img src="files/part10.png" alt="">
				</a>
			</div>
		</div>
	</div>											
include _footer.jade