@font-face {
  font-family: "RF Dewi";
  src: local("RF Dewi Regular"), local("RF-Dewi-Regular"), url("RFDewi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi bold";
  src: local("RF Dewi Bold"), local("RF-Dewi-Bold"), url("RFDewi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "RF Dewi", sans-serif;
  height: 100vh;
}
@media all and (max-width: 980px) {
  body {
    height: auto;
  }
}
body a {
  color: #000;
}

@media all and (max-width: 480px) {
  .overflowHidden {
    overflow: hidden;
  }
}

.site_wrapper {
  display: flex;
  flex: auto;
  height: auto;
  position: relative;
}
.site_wrapper__left {
  padding: 70px 135px 80px 163px;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  max-width: 813px;
}
@media all and (max-width: 1450px) {
  .site_wrapper__left {
    padding: 50px 85px 50px 113px;
  }
}
@media all and (max-width: 1024px) {
  .site_wrapper__left {
    padding: 50px 50px 50px 80px;
  }
}
@media all and (max-width: 980px) {
  .site_wrapper__left {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    max-width: 100%;
  }
}
.site_wrapper .site_logo {
  margin-bottom: 54px;
}
@media all and (max-width: 1450px) {
  .site_wrapper .site_logo {
    margin-bottom: 30px;
  }
}
.site_wrapper .site_logo img, .site_wrapper .site_logo svg {
  max-width: 100%;
}
.site_wrapper .site_form__title {
  font-weight: 700;
  font-size: 2.605vw;
  line-height: 60px;
  color: #714684;
  margin-bottom: 10px;
  font-family: "RF Dewi bold", sans-serif;
  position: relative;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_form__title {
    line-height: normal;
  }
}
@media all and (max-width: 980px) {
  .site_wrapper .site_form__title {
    font-size: 24px;
  }
}
.site_wrapper .site_form__title:before {
  content: "";
  position: absolute;
  width: 41px;
  height: 41px;
  top: 13px;
  right: 100%;
  margin-right: 21px;
  border-radius: 100%;
  background: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 41C31.8218 41 41 31.8218 41 20.5C41 9.17816 31.8218 0 20.5 0C9.17816 0 0 9.17816 0 20.5C0 31.8218 9.17816 41 20.5 41Z' fill='%23EF7F1A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.7706 11.3484L29.6515 16.2292L15.0091 30.8719L7.68799 33.3124L10.1282 25.9908L24.7706 11.3484ZM28.4317 7.68738L33.3125 12.5685L30.8717 15.0089L25.9908 10.1281L28.4317 7.68726V7.68738Z' fill='%23714684'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_form__title:before {
    margin-right: 15px;
  }
}
.site_wrapper .site_form__desc {
  color: #714684;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
  font-family: "RF Dewi", sans-serif;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_form__desc {
    font-size: 18px;
  }
}
.site_wrapper .site_form__form {
  font-family: "RF Dewi", sans-serif;
}
.site_wrapper .site_form__field {
  margin-bottom: 40px;
}
@media all and (max-width: 1450px) {
  .site_wrapper .site_form__field {
    margin-bottom: 30px;
  }
}
@media all and (max-width: 768px) {
  .site_wrapper .site_form__field {
    margin-bottom: 20px;
  }
}
.site_wrapper .site_form__field.select.mobile {
  position: relative;
}
.site_wrapper .site_form__field.select.mobile:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 3px;
  z-index: 1;
  position: absolute;
  background: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1102 1.55506L8.55518 9.11011L1.00012 1.55506' stroke='%23EF7F1A' stroke-width='2'/%3E%3C/svg%3E%0A") top 50% right 10px no-repeat #fff;
  transition: all 0.3s ease;
  top: calc(50% - 5px);
  width: 30px;
}
@media all and (max-width: 980px) {
  .site_wrapper .site_form__field.select.mobile:before {
    display: none;
  }
}
.site_wrapper .site_form__field.places {
  position: relative;
}
.site_wrapper .site_form__field.places.active .from_to, .site_wrapper .site_form__field.places.active .meters {
  visibility: hidden;
}
.site_wrapper .site_form__field.places .meters {
  position: absolute;
  right: 0;
  font-size: 20px;
  line-height: 24px;
  color: #EF7F1A;
  right: 27px;
  bottom: 7px;
}
.site_wrapper .site_form__field.places .meters sup {
  font-size: 12px;
}
@media all and (max-width: 980px) {
  .site_wrapper .site_form__field.places .meters {
    right: 3px;
  }
}
.site_wrapper .site_form__field.places .from_to {
  position: absolute;
  bottom: 7px;
  right: 100px;
  display: flex;
  pointer-events: none;
}
@media all and (max-width: 1250px) {
  .site_wrapper .site_form__field.places .from_to {
    display: none;
  }
}
.site_wrapper .site_form__field.places .from_to span {
  font-size: 20px;
  color: #714684;
  opacity: 0.5;
}
.site_wrapper .site_form__field.places .from_to span:first-child {
  margin-right: 20px;
}
.site_wrapper .site_form__field.places .from_to span:last-child {
  margin-left: 20px;
}
.site_wrapper .site_form__field.places .from_to span.delim {
  opacity: 1;
  font-weight: bold;
}
.site_wrapper .site_form__field input[type=text], .site_wrapper .site_form__field textarea {
  border: none;
  border-bottom: 1px solid #EF7F1A;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  color: #714684;
  line-height: 24px;
  width: 100%;
  outline: none;
  padding: 2px 0 5px;
  font-family: "RF Dewi", sans-serif;
  border-radius: 0;
  background: none;
}
.site_wrapper .site_form__field input[type=text]::placeholder, .site_wrapper .site_form__field textarea::placeholder {
  color: #714684;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_form__field input[type=text], .site_wrapper .site_form__field textarea {
    font-size: 18px;
  }
}
.site_wrapper .site_form__field button {
  width: 100%;
  border: none;
  outline: none;
  background: #EF7F1A;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 14px 15px 13px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
}
.site_wrapper .site_form__field button:hover {
  background: #714684;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_form__field button {
    font-size: 18px;
  }
}
.site_wrapper .site_form__field select {
  border: none;
  border-bottom: 1px solid #EF7F1A;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  color: #714684;
  line-height: 24px;
  width: 100%;
  outline: none;
  padding: 2px 0 5px;
  font-family: "RF Dewi", sans-serif;
  cursor: pointer;
  padding-right: 50px;
  position: relative;
  padding-right: 30px;
  background: none;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_form__field select {
    font-size: 18px;
  }
}
.site_wrapper .site_form__field .jq-selectbox__select-text {
  border-bottom: 1px solid #EF7F1A;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  color: #714684;
  line-height: 24px;
  width: 100%;
  outline: none;
  padding: 2px 0 5px;
  font-family: "RF Dewi", sans-serif;
  cursor: pointer;
  padding-right: 50px;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_form__field .jq-selectbox__select-text {
    font-size: 18px;
  }
}
.site_wrapper .site_form__field .jq-selectbox {
  width: 100%;
}
.site_wrapper .site_form__field .jq-selectbox__trigger-arrow {
  position: absolute;
  width: 17px;
  height: 11px;
  background: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1102 1.55506L8.55518 9.11011L1.00012 1.55506' stroke='%23EF7F1A' stroke-width='2'/%3E%3C/svg%3E%0A") 50% no-repeat;
  transition: all 0.3s ease;
  top: calc(50% - 5px);
  right: 27px;
}
.site_wrapper .site_form__field .jq-selectbox__dropdown {
  width: 100%;
}
.site_wrapper .site_form__field .jq-selectbox__dropdown ul {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  box-shadow: 4px 10px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  padding: 27px 17px 8px;
  box-sizing: border-box;
}
.site_wrapper .site_form__field .jq-selectbox__dropdown ul li {
  list-style-type: none;
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-family: "RF Dewi", sans-serif;
  margin-bottom: 20px;
  color: #714684;
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_form__field .jq-selectbox__dropdown ul li {
    font-size: 16px;
  }
}
.site_wrapper .site_form__field .jq-selectbox__dropdown ul li:hover {
  color: #EF7F1A;
}
.site_wrapper .site_form__field .jq-selectbox__dropdown ul li:first-child {
  display: none;
}
.site_wrapper .site_form__field .jq-selectbox__dropdown ul li.sel:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 11px;
  background: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6102 1.05499L5.05511 8.61005L1.00049 4.55481' stroke='%23EF7F1A' stroke-width='2'/%3E%3C/svg%3E%0A") 50% no-repeat;
  top: calc(50% - 5px);
  right: 12px;
}
.site_wrapper .site_social {
  font-family: "RF Dewi", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.site_wrapper .site_social__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #714684;
  margin-bottom: 4px;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_social__title {
    font-size: 18px;
  }
}
@media all and (max-width: 980px) {
  .site_wrapper .site_social__title {
    margin-bottom: 10px;
  }
}
.site_wrapper .site_social__phones {
  margin-right: 20px;
  position: relative;
}
@media all and (max-width: 425px) {
  .site_wrapper .site_social__phones {
    padding-left: 56px;
  }
}
.site_wrapper .site_social__phones:before {
  content: "";
  position: absolute;
  width: 41px;
  height: 41px;
  top: auto;
  bottom: 7px;
  right: 100%;
  margin-right: 21px;
  border-radius: 100%;
  background: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.5 0C31.8186 0 41 9.18143 41 20.5C41 31.8186 31.8186 41 20.5 41C9.18143 41 0 31.8186 0 20.5C0 9.18143 9.18143 0 20.5 0Z' fill='%23EF7F1A'/%3E%3Cpath d='M25.0753 19.6596L7.97811 36.736C6.58792 35.6571 5.33261 34.4121 4.25366 33.0116L21.3405 15.9248H10.6547V10.6545H30.3455V30.3453H25.0753V19.6596Z' fill='%23714684'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
@media all and (max-width: 1024px) {
  .site_wrapper .site_social__phones:before {
    margin-right: 15px;
  }
}
@media all and (max-width: 425px) {
  .site_wrapper .site_social__phones:before {
    right: auto;
    left: 0;
  }
}
.site_wrapper .site_social__phones a {
  text-decoration: none;
  font-weight: bold;
  font-size: 2.605vw;
  line-height: 3vw;
  color: #714684;
  transition: all 0.3s ease;
}
.site_wrapper .site_social__phones a:hover {
  color: #EF7F1A;
}
@media all and (max-width: 980px) {
  .site_wrapper .site_social__phones a {
    font-size: 24px;
  }
}
.site_wrapper .site_social__messengers {
  margin-bottom: 3px;
}
@media all and (max-width: 425px) {
  .site_wrapper .site_social__messengers {
    padding-left: 48px;
    margin-top: 15px;
  }
}
.site_wrapper .site_social__messengers .item {
  display: inline-block;
  margin: 0 7px 7px;
}
.site_wrapper .site_social__messengers .item:last-child {
  margin-right: 0;
}
@media all and (max-width: 425px) {
  .site_wrapper .site_social__messengers .item {
    margin: 0 5px 5px;
  }
}
.site_wrapper .site_social__messengers .item a {
  text-decoration: none;
  display: inline-block;
}
.site_wrapper .site_social__messengers .item a svg path {
  transition: all 0.3s ease;
}
.site_wrapper .site_social__messengers .item a:hover svg path:first-child {
  fill: #714684;
}
.site_wrapper__right {
  background: url("../images/bg.png") 50%/cover no-repeat;
  padding: 62px 43px;
  box-sizing: border-box;
  width: 100%;
  font-family: "RF Dewi", sans-serif;
  display: flex;
}
@media all and (max-width: 1450px) {
  .site_wrapper__right {
    padding: 50px 40px;
  }
}
@media all and (max-width: 980px) {
  .site_wrapper__right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.site_wrapper__right-title {
  color: #fff;
  font-weight: normal;
  font-size: 2.292vw;
  line-height: 2.292vw;
  max-width: 630px;
  margin: 0;
}
@media all and (max-width: 1450px) {
  .site_wrapper__right-title {
    line-height: normal;
  }
}
@media all and (max-width: 980px) {
  .site_wrapper__right-title {
    color: #714684;
    font-family: "RF Dewi bold", sans-serif;
    font-size: 20px;
    margin-top: 10px;
  }
  .site_wrapper__right-title br {
    display: none;
  }
}
.site_wrapper__right-langs {
  margin: 10px auto 0;
}
@media all and (max-width: 980px) {
  .site_wrapper__right-langs {
    text-align: right;
    margin-top: -40px;
  }
}
.site_wrapper__right-langs .item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #714684;
  color: #EF7F1A;
  margin: 0 9px 5px;
  font-family: "RF Dewi bold", sans-serif;
}
@media all and (max-width: 980px) {
  .site_wrapper__right-langs .item {
    margin: 0 5px 5px;
  }
}
.site_wrapper__right-langs .item a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 2px;
  box-sizing: border-box;
}
.site_wrapper__right-langs .item.active {
  color: #714684;
  background: #EF7F1A;
}

.site_form__field.places {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EF7F1A;
  padding-right: 50px;
}

.site_form__field.places .name_field {
  flex: 1 1 auto;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  color: #714684;
  line-height: 24px;
  width: 100%;
  outline: none;
  padding: 2px 50px 5px 0;
  font-family: "RF Dewi", sans-serif;
  cursor: pointer;
}

.site_form__field.places .field {
  flex: 0 0 90px;
  margin-right: 20px;
}

.site_form__field.places .field input{
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  color: #714684;
  line-height: 24px;
  width: 100%;
  outline: none;
  padding: 2px 0 5px;
  font-family: "RF Dewi", sans-serif;
  border-radius: 0;
  background: none;
  border: none;
  height: 24px;
  box-sizing: border-box;
}

.site_wrapper .site_form__field .field input[type=text]::placeholder{
  color: #b8a4c2;
}

.site_form__field.places .field input.c1{
  border-right: 1px solid #714684;
  padding-right: 20px;
  text-align: right;
}

@media all and (max-width: 550px) {
  .site_form__field.places {
    flex-wrap:wrap;
    padding-bottom: 10px;
  }

  .site_form__field.places .name_field {
    flex: none;
    width: 100%;
    padding-bottom: 10px;
  }

  .site_form__field.places .field {
    flex: 0 0 calc(50% - 20px);
  }

  .site_form__field.places .field input.c1 {
    text-align: left;
  }
}

.popup_succes_block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .5);
  z-index: 1000;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_succes_block.opened {
  opacity: 1;
  visibility: visible;
}

.popup_succes_block .block_inner {
  width: 520px;
  padding: 150px 59px 59px;
  background: #714684;
  position: relative;
  text-align: center;
}

@media all and (max-width: 600px){
  .popup_succes_block .block_inner {
    width: 320px;
  }
}

.popup_succes_block .block_inner .close {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 27px;
  height: 27px;
  background: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6487 28.0079C21.1751 28.0079 27.2765 21.9066 27.2765 14.3802C27.2765 6.85378 21.1751 0.752441 13.6487 0.752441C6.12234 0.752441 0.0209961 6.85378 0.0209961 14.3802C0.0209961 21.9066 6.12234 28.0079 13.6487 28.0079Z' fill='white'/%3E%3Cpath d='M19.8031 7.97607L7.49446 20.2847' stroke='%23714684' stroke-width='2'/%3E%3Cpath d='M19.8031 20.2847L7.49446 7.97603' stroke='%23714684' stroke-width='2'/%3E%3C/svg%3E%0A") 50% no-repeat;
  cursor: pointer;
}

.popup_succes_block .block_inner:before {
  content: '';
  position: absolute;
  top: 59px;
  left: 0;
  right: 0;
  width: 78px;
  height: 78px;
  background: url("data:image/svg+xml,%3Csvg width='79' height='78' viewBox='0 0 79 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.5001 77.5786C60.9002 77.5786 78.2483 60.2305 78.2483 38.8305C78.2483 17.4304 60.9002 0.0822754 39.5001 0.0822754C18.1001 0.0822754 0.751953 17.4304 0.751953 38.8305C0.751953 60.2305 18.1001 77.5786 39.5001 77.5786Z' fill='%23EF7F1A'/%3E%3Cpath d='M57.833 26.4163L33.9732 50.2761L21.1682 37.4692' stroke='%23714684' stroke-width='10'/%3E%3C/svg%3E%0A") 50% no-repeat;
  margin: 0 auto;
}

.popup_succes_block .block_inner .title {
  font-family:  "RF Dewi", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  padding-bottom: 3px;
}

.popup_succes_block .block_inner .text {
  font-family:  "RF Dewi", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
