
<div class="contacts_bottom_wr">
	<div class="block_inner">
		<div class="title_block"><span>Наши контакты</span></div>
		<div class="inner">
			<div class="left">
				<div class="block">
					<blockquote>Данные ООО МКК "Скрепа" <br>Полное наимнование: Общество с ограниченной <br>ответственностью Микрокредитная компания "Скрепа" <br>ИНН 9704090409 КПП 770401001 <br>ОГРН 1217700456159</blockquote>
					<a href="" class="down">Устав</a>
				</div>
				<div class="block">
					<blockquote>Членство в СРО <br>ООО МКК "Скрепа" является членом ООО СРО "Альянс" <br>с 31.01.2022 под номером 1923 <br>ООО СРО "Альянс" местонахождение: г.Москва <br>ул.Сущевская, д.21, офис 513. <br><a href="alliance-mfo.ru">alliance-mfo.ru</a> </blockquote>
				</div>
			</div>
			<div class="right">
				<div class="block">
					<blockquote>ЦБ РФ <br><a href="www.cbr.ru">www.cbr.ru</a></blockquote>
				</div>
				<div class="block">
					<blockquote>ООО МКК "Скрепа" на сайте ЦБ РФ <br><a href="www.cbr.ru/finorg/foinfo/?ogrn=1217700456159">www.cbr.ru/finorg/foinfo/?ogrn=1217700456159</a></blockquote>
				</div>
				<div class="block">
					<blockquote>Ссылка на интернет-приемную ЦБ РФ <br><a href="cbr.ru/Reception">cbr.ru/Reception</a></blockquote>
				</div>
				<div class="block">
					<blockquote>Потребитель финансовых услуг вправе обратиться к финансовому уполномоченному: <br>Местонахождение: 119017, г. Москва, Старомонетный пер., дом 3 <br>Контактный центр: 8 (800) 200-00-10 <br><a href="finombudsman.ru">finombudsman.ru</a></blockquote>
				</div>
			</div>
		</div>
		<div class="block_text">
			<blockquote>Базовые стандарты:</blockquote>
			<ul>
				<li><a href="">СОВЕРШЕНИЯ МИКРОФИНАНСОВОЙ ОРГАНИЗАЦИЕЙ ОПЕРАЦИЙ НА ФИНАНСОВОМ РЫНКЕ</a></li>
				<li><a href="">По управлению рисками микрофинансовых организаций</a></li>
				<li><a href="">Защиты прав и интересов физических и юридических лиц - получателей финансовых услуг</a></li>
			</ul>
		</div>
		<div class="map_block_wr">
			<div class="left">
				<strong>Главный офис</strong>
				<blockquote>Адрес: 1121099, Россия, г. Москва, <br>Вн.Терг.Муниципальный <br>округ Арбат, проезд Шломина, д.6, подв., пом.V, ком.2, офис №55</blockquote>
				<blockquote>телефон: <a href="tel:+74999948224">+7 (499) 994-82-24</a><br>E-mail: <a href="mailto:mkk.skrepa@yandex.ru">mkk.skrepa@yandex.ru</a></blockquote>
			</div>
			<div class="right_map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac7f3e935073404f7a0323584e593a32f19153227cef19b267f201dcb1525a925&amp;source=constructor" width="100%" height="448" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>
</div>
<div class="footer">
	<div class="footer_top">
		<div class="block_inner">
			<div class="logo_footer">
				<img src="img/logo.svg" alt="">
			</div>
			<div class="menu_footer">
				<ul>
					<li><a href="">О нас</a></li>
					<li><a href="">Услуги</a></li>
					<li><a href="">Тарифы</a></li>
					<li><a href="">Способы погашения</a></li>
					<li><a href="">Отзывы</a></li>
					<li><a href="">Вопрос-ответ</a></li>
				</ul>
			</div>
			<div class="links_footer">
				<ul>
					<li><a href="">Выписка из реестра МФО</a></li>
					<li><a href="">Реестр МФО</a></li>
					<li><a href="">Правила предоставления займов</a></li>
					<li><a href="">Политика о персональных данных</a></li>
					<li><a href="">Образец заявления на получение микрозайма</a></li>
				</ul>
			</div>
			<div class="phone">
				<a href="tel:+74999448224">+7 (499) 944-82-24</a>
			</div>
			<a href="#" class="btn_lc login_btn">Личный кабинет</a>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="block_inner">
			<div class="copy">© 2022 МКК СКРЕПА</div>
		</div>
	</div>
</div>
</div> 

<div class="form-popup-wrapper red_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<div class="title">Личный кабинет</div>
			<div class="form_inner">
				<form action="">	
					<div class="subtitle">Вход</div>			
					<div class="field">
						<input type="text" placeholder="Телефон" required>
					</div>
					<div class="field">
						<input type="text" placeholder="Пароль" required>
					</div>
					<button class="btn gr">Войти</button>
				</form>   
				<a class="link_gos">
					<span class="name_gos">Войти с помощью</span>
					<span class="image">
						<img src="img/logo-gosuslugi-ru.svg" alt="">
					</span>
				</a>     
				<div class="text_field">Нажимая на кнопку “Войти”, вы принимаете <br>условия пользовательского соглашения.</div>
				<div class="form_link">
					<a href="">Восстановить доступ</a>
				</div>
			</div>
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<script src="js/nouislider.min.js" async></script>
<script src="js/wNumb.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>