<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="login_in">
			<div class="user">Иванов Иван</div>
			<div class="out_link"><a href="#">Выйти</a></div>				
		</div>
		<div class="phone">
			<a href="tel:+74999448224">+7 (499) 944-82-24</a>
		</div>
		<div class="menu_top">
			<ul>
				<li class="opened"><a href="#">О нас</a></li>
				<li>
					<a href="#">Услуги</a>
					<ul>
						<li><a href="">Тарифы</a></li>
						<li><a href="">Как это работает</a></li>
					</ul>
				</li>
				<li><a href="#">Способы погашения</a></li>
				<li><a href="#">Вопрос - ответ</a></li>
				<li><a href="#">Отзывы</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div> 
	</div>
</nav> 
<div class="site_wrapper">
<header class="header inner_page">
	<div class="header_top">
		<div class="block_inner">
			<div class="logo">
				<a href="#">
					<img src="img/logo.svg" alt="">
				</a>
			</div>
			<div class="menu_top_wr">
				<ul>
					<li class="opened"><a href="#">О нас</a></li>
					<li>
						<a href="#">Услуги</a>
						<ul>
							<li><a href="">Тарифы</a></li>
							<li><a href="">Как это работает</a></li>
						</ul>
					</li>
					<li><a href="#">Способы погашения</a></li>
					<li><a href="#">Вопрос - ответ</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="phone">
				<a href="tel:+74999448224">+7 (499) 944-82-24</a>
			</div>
			<div class="login_in">
				<div class="user">Иванов Иван</div>
				<div class="out_link"><a href="#">Выйти</a></div>				
			</div>
			<div class="burger"><span></span></div>
		</div>
	</div>
</header>
<div class="content_block_wr">
	