include _header_inner.jade
	<div class="content_page_wr">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная страница</a><span class="sep"></span>О нас
			</div>
			<h1 class="title_block"><span>О нас</span></h1>
			<div class="content_inner">
				<p><strong>Наша компания ООО МКК «СКРЕПА»</strong>  - предлагает услуги по микрофинансированию, основанные на международных стандартах работы с клиентами. С момента своего основания компания работает по принципу честности и открытости сотрудничества. Главные критерии нашей работы – это качество и оперативность.</p>
				<ul>
					<li>Мы можем помочь вам всякий раз, когда срочно нужны деньги до зарплаты. Достаточно зарегистрироваться;</li>
					<li>Наши условия максимально просты и не предусматривают дополнительных платежей и комиссий;</li>
					<li>После отправки SMS на номер сервиса нудная сумма в течение суток окажется на банковском счете или станет доступной практически моментально через QIWI-кошелек или любом из 9000 пунктов обслуживания.</li>
					<li>День зарплаты еще не скоро? Мы можем подождать! Просто оплатите проценты по займу, и он автоматически  продлится еще на 21 день;</li>
					<li>Несколько вариантов получения и возврата займа. Мы предоставляем выбор. Просто решить, как вам удобнее;</li>
					<li>ООО МКК «СКРЕПА» работает дистанционно по всей России, поэтому получения займа возможно в любое время  в любом месте;</li>
					<li>Среднее время обработки заявки – всего 7 минут;</li>
					<li>Возможность продлевать заём неограниченное количество раз;</li>
					<li>Максимально простая схема получения и возврата займа без залога и поручителей;</li>
				</ul>
			</div>
			<div class="icon_block_wr">
				<h2 class="title_block"><span>Наши преимущества</span></h2>
				<div class="block_inner">
					<div class="item">
						<div class="ioon">
							<img src="files/icon1.svg" alt="">
						</div>
						<div class="text">Быстрое принятие решения<br> и перевод средств на карту</div>
					</div>
					<div class="item">
						<div class="ioon">
							<img src="files/icon2.svg" alt="">
						</div>
						<div class="text">Гибкая система займов <br>на срок от 7 до 30 дней</div>
					</div>
					<div class="item">
						<div class="ioon">
							<img src="files/icon3.svg" alt="">
						</div>
						<div class="text">100 % онлайн, и без<br> лишних документов</div>
					</div>
					<div class="item">
						<div class="ioon">
							<img src="files/icon4.svg" alt="">
						</div>
						<div class="text">Без залога <br> и поручителей</div>
					</div>
				</div>
			</div>
		</div>
	</div>									
include _footer.jade