include _header_inner.jade
	
	<div class="bank_card_page">
		<div class="block_inner">
			<div class="path_block">
				<a href="/">Главная страница</a><span class="sep"></span>Способы погашения
			</div>
			<div class="bank_card_block">
				<div class="top_card">
					<div class="left">
						<div class="title_block"><span>Банковская карта</span></div>
						<div class="left_form_calc">
							<form action="">
								<textarea name="" class="result_calc" id="" cols="30" rows="10"></textarea>
								<div class="calc_item calc_left tariff_speed">
									<div class="calc_title">
										<div class="name">Выберете сумму</div>
										<div class="value">
											<div class="val" id="summa-value-payment"></div>
											<div class="pre"> ₽</div>
										</div>
									</div>
									<div class="item_slider" id="slider-summa-payment"></div>
								</div>
								<div class="field">
									<input type="text" required placeholder="Номер телефона*">
								</div>
								<input type="submit" value="получить деньги" class="btn gr calc_send">
							</form>
						</div>							
					</div>
					<div class="right">
						<div class="text">
							<p>В настоящий момент для принятия платежей осуществляется поддержка платежных систем<strong> VISA и MasterCard</strong>.</p>
							<p><strong>Внимание</strong>: Вы можете использовать только свою собственную карту при возврате займа. </p>
							<p>Для оплаты с помощью банковской карты необходимо выполнить следующие шаги: </p>
						</div>
						<div class="number_block">
							<div class="number_top">
								<div class="number"><span>01</span></div>
								<div class="val">Зайдите в ваш личный кабинет</div>
							</div>
						</div>
						<div class="number_block">
							<div class="number_top">
								<div class="number"><span>02</span></div>
								<div class="val">Зайдите в детали вашего активного займа</div>
							</div>
						</div>
					</div>
				</div>
				<div class="number_block">
					<div class="number_top">
						<div class="number"><span>03</span></div>
						<div class="val">Под деталями займа расположен список способов погашения займа, выберете опцию «Банковские карты» </div>
					</div>
				</div>
				<div class="number_block">
					<div class="number_top">
						<div class="number"><span>04</span></div>
						<div class="val">Введите сумму для оплаты и нажмите на кнопку «Оплатить». По умолчанию в данном поле ввода указана сумма полного погашения займа.</div>
					</div>
					<div class="image">
						<img src="files/b1.png" alt="">
					</div>
				</div>
				<div class="number_block">
					<div class="number_top">
						<div class="number"><span>05</span></div>
						<div class="val">Далее укажите данные для оплаты: номер вашей карты, срок ее действия, имя владельца, CVV2-код, адрес вашей  электронной почты и нажмите «Заплатить».</div>
					</div>
					<div class="image">
						<img src="files/b2.png" alt="">
					</div>
				</div>
				<div class="number_block">
					<div class="number_top">
						<div class="number"><span>06</span></div>
						<div class="val">Если на карте подключена услуга 3-D Secure, то необходимо будет ввести одноразовый пароль, отправленный на номер  телефона, к которому привязана карта.</div>
					</div>
					<div class="image">
						<img src="files/b3.png" alt="">
					</div>
				</div>
				<div class="number_block">
					<div class="number_top">
						<div class="number"><span>07</span></div>
						<div class="val">Через некоторое время вам на почту придет подтверждение о статусе оплаты, а деньги будут переведены  на счет Moneyman. На этом процедура оплаты будет завершена.</div>
					</div>
					<div class="image">
						<img src="files/b4.png" alt="">
					</div>
				</div>
			</div>						
		</div>
	</div>
	<div class="slider_partner_wr">
		<div class="title">
			<div class="title_block"><span>Спецпредложения от наших партнеров</span></div>
			<div class="arrow_slider">
				<div class="sli_arrow prev_arrow"></div>
				<div class="sli_arrow next_arrow"></div>				
			</div>
		</div>
		<div class="block_inner">
			<div class="slider_partner">
				<div class="item">
					<img src="files/p1.jpg" alt="">
				</div>
				<div class="item">
					<img src="files/p2.jpg" alt="">
				</div>
				<div class="item">
					<img src="files/p3.jpg" alt="">
				</div>
				<div class="item">
					<img src="files/p2.jpg" alt="">
				</div>
			</div>
		</div>
	</div>								
include _footer.jade