include _header.jade
	
	<div class="contacts_block_wr">
		<div class="block_inner">
			<div class="title">Возникли вопросы?</div>
			<div class="text">Наши консультанты вам помогут, просто позвоните</div>
			<div class="phone_b">
				<a href="tel:+74999448224">+7 (499) 944-82-24</a>
			</div>
			<div class="title_block">
				<span>Наши спецпредложения</span>
			</div>
		</div>
	</div>
	<div class="slider_banner">
		<div class="item" style="background-image: url(files/slider.jpg);"></div>
		<div class="item" style="background-image: url(files/slider.jpg);"></div>
		<div class="item" style="background-image: url(files/slider.jpg);"></div>
	</div>
	<div class="service_block_wr">
		<div class="block_inner">
			<div class="title_block"><span>Наши услуги</span></div>
			<div class="body">
				<div class="icon">
					<img src="files/service.svg" alt="">
				</div>
				<div class="text">
					<p><strong>Основное направление деятельности компании</strong> - выдача микрозаймов физическим лицам.</p>
					<p>Так же в офисе компании Вы можете получить вашу кредитную историю из 2-х крупнейших бюро - НБКИ и Эквифакс. <br>Стоимость услуги - <strong style="color: #66AF17;">1600 ₽</strong> за две истории или <strong style="color: #66AF17;">1000 ₽</strong> из любого бюро при заказе одной.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="tariff_block_wr">
		<div class="block_inner">
			<div class="title_block"><span>Тарифы</span></div>
			<div class="inner">
				<a href="" class="item green">
					<span class="name">Быстрый</span>
					<ul class="param">
						<li>
							<div class="name_p">Сумма займа:</div>
							<div class="val">от 1 000 ₽ до 30 000 ₽</div>
						</li>
						<li>
							<div class="name_p">Ставка:</div>
							<div class="val">1% в день</div>
						</li>
						<li>
							<div class="name_p">Срок:</div>
							<div class="val">до 30 дней</div>
						</li>
					</ul>
					<span class="icon">
						<img src="files/r2.svg" alt="">
					</span>
				</a>
				<a href="" class="item yellow">
					<span class="name">Быстрый больше</span>
					<ul class="param">
						<li>
							<div class="name_p">Сумма займа:</div>
							<div class="val">от 30 000 ₽ до 60 000 ₽</div>
						</li>
						<li>
							<div class="name_p">Ставка:</div>
							<div class="val">0.4% в день</div>
						</li>
						<li>
							<div class="name_p">Срок:</div>
							<div class="val">до 60 дней</div>
						</li>
					</ul>
					<span class="icon">
						<img src="files/r3.svg" alt="">
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="how_it_works">
		<div class="block_inner">
			<div class="title_block"><span>Как это работает</span></div>
			<div class="inner">
				<div class="left">
					<div class="item">
						<div class="number"><span>01</span></div>
						<div class="text">Заполните заявку на сайте</div>
					</div>
					<div class="item">
						<div class="number"><span>02</span></div>
						<div class="text">Дождитесь ответа об одобрении <br>в e-mail или SMS - сообщении</div>
					</div>
					<div class="item">
						<div class="number"><span>03</span></div>
						<div class="text">Получите мгновенную выплату на карту, банковский счет или заберите наличными</div>
					</div>
				</div>
				<div class="right">
					<h4>Требования к клиентам:</h4>
					<ul>
						<li>Клиент является гражданином Российской федерации;</li>
						<li>Возраст Клиента на момент заключения договора должен быть не менее 18 лет;</li>
						<li>Клиент должен иметь постоянную регистрацию на территории Российской Федерации;</li>
						<li>Клиент, на момент рассмотрения заявки на получение микрозайма;</li>
						<li>Не должен иметь никаких просроченных финансовых обязательств.</li>
					</ul>
					<h4>Пролонгация:</h4>
					<blockquote>В случае невозможности погашения займа в срок, установленный договором микрозайма, возможна пролонгация срока займа <br><br><span style="color: #66AF17;">9%</span> от первоначальной суммы займа на 7 дней</blockquote>
				</div>
			</div>
		</div>
	</div>
	<div class="icon_block_wr">
		<div class="block_inner">
			<div class="item">
				<div class="ioon">
					<img src="files/icon1.svg" alt="">
				</div>
				<div class="text">Быстрое принятие решения<br> и перевод средств на карту</div>
			</div>
			<div class="item">
				<div class="ioon">
					<img src="files/icon2.svg" alt="">
				</div>
				<div class="text">Гибкая система займов <br>на срок от 7 до 30 дней</div>
			</div>
			<div class="item">
				<div class="ioon">
					<img src="files/icon3.svg" alt="">
				</div>
				<div class="text">100 % онлайн, и без<br> лишних документов</div>
			</div>
			<div class="item">
				<div class="ioon">
					<img src="files/icon4.svg" alt="">
				</div>
				<div class="text">Без залога <br> и поручителей</div>
			</div>
		</div>
	</div>
	<div class="payment_block_wr">
		<div class="title">
			<div class="title_block"><span>Способы погашения</span></div>
		</div>
		<div class="block_inner">
			<div class="left_form_calc">
				<form action="">
					<textarea name="" class="result_calc" id="" cols="30" rows="10"></textarea>
					<div class="calc_item calc_left tariff_speed">
						<div class="calc_title">
							<div class="name">Выберете сумму</div>
							<div class="value">
								<div class="val" id="summa-value-payment"></div>
								<div class="pre"> ₽</div>
							</div>
						</div>
						<div class="item_slider" id="slider-summa-payment"></div>
					</div>
					<div class="field">
						<input type="text" required placeholder="Номер телефона*">
					</div>
					<input type="submit" value="получить деньги" class="btn gr calc_send">
				</form>
			</div>
			<div class="middle">
				<div class="card_block">
					<div class="card_name">Оплата <br>по банковской карте</div>
				</div>
				<div class="paymants_more">
					<div class="title_more">Другие способы погашения</div>
					<div class="text_more"><span style="color: #98CB62;">*</span>данные способы погашения будут доступны позднее и находятся в разработке.</div>
				</div>
			</div>
			<div class="right">
				<div class="qr_code">
					<img src="files/qr-code.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="slider_partner_wr">
		<div class="title">
			<div class="title_block"><span>Спецпредложения от наших партнеров</span></div>
			<div class="arrow_slider">
				<div class="sli_arrow prev_arrow"></div>
				<div class="sli_arrow next_arrow"></div>				
			</div>
		</div>
		<div class="block_inner">
			<div class="slider_partner">
				<div class="item">
					<img src="files/p1.jpg" alt="">
				</div>
				<div class="item">
					<img src="files/p2.jpg" alt="">
				</div>
				<div class="item">
					<img src="files/p3.jpg" alt="">
				</div>
				<div class="item">
					<img src="files/p2.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="faq_block_wr">
		<div class="title">
			<div class="title_block"><span>Вопрос-ответ</span></div>
		</div>
		<div class="inner">
			<div class="accor_block">
				<div class="accor_name"><span>Как получить займ?</span></div>
				<div class="accor_body">Внимательно следуйте графику ваших платежей. В случае невозможности выплаты основного долга, вам надо обратиться в наш офис чтобы оплатить проценты по займу и получить дополнительную отсрочку.</div>
			</div>
			<div class="accor_block">
				<div class="accor_name"><span>Как погасить займ?</span></div>
				<div class="accor_body">Внимательно следуйте графику ваших платежей. В случае невозможности выплаты основного долга, вам надо обратиться в наш офис чтобы оплатить проценты по займу и получить дополнительную отсрочку.</div>
			</div>
			<div class="accor_block">
				<div class="accor_name"><span>Как не стать должником?</span></div>
				<div class="accor_body">Внимательно следуйте графику ваших платежей. В случае невозможности выплаты основного долга, вам надо обратиться в наш офис чтобы оплатить проценты по займу и получить дополнительную отсрочку.</div>
			</div>
		</div>
	</div>
	<div class="rew_block_wr">
		<div class="block_inner">
			<div class="title_block"><span>Вопрос-ответ</span></div>
			<div class="inner">
				<div class="rew_slider">
					<div class="item">
						<div class="item_in">
							<div class="top_item">
								<div class="image">
									<img src="files/r1.png" alt="">
								</div>
								<div class="top_text">
									<div class="name">Алексей Богатырев</div>
									<div class="date">02.07.2022</div>
									<div class="stars"><span style="width: 100%"></span></div>
								</div>
							</div>
							<div class="body">Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. . Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений... <a href="">Читать далее</a> </div>
						</div>
					</div>
					<div class="item">
						<div class="item_in">
							<div class="top_item">
								<div class="image">
									<img src="files/r1-1.png" alt="">
								</div>
								<div class="top_text">
									<div class="name">Анстасия Иванова</div>
									<div class="date">02.07.2022</div>
									<div class="stars"><span style="width: 80%;"></span></div>
								</div>							
							</div>
							<div class="body">Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. . Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений... <a href="">Читать далее</a> </div>
						</div>
					</div>
					<div class="item">
						<div class="item_in">
							<div class="top_item">
								<div class="image">
									<img src="files/r1-1.png" alt="">
								</div>
								<div class="top_text">
									<div class="name">Анстасия Иванова</div>
									<div class="date">02.07.2022</div>
									<div class="stars"><span style="width: 80%;"></span></div>
								</div>							
							</div>
							<div class="body">Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. . Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений... <a href="">Читать далее</a> </div>
						</div>
					</div>
				</div>
				<div class="arrow_slider">
					<div class="sli_arrow prev_arrow"></div>
					<div class="sli_arrow next_arrow"></div>				
				</div>
			</div>
			<div class="form_inner">
				<form action="">
					<div class="form_title">Оставьте ваш отзыв</div>
					<div class="field_rating">
						<div class="name">Ваша оценка:</div>
						<div class="rating-area">
							<input type="radio" id="star-5" name="rating" value="5">
							<label for="star-5" title="Оценка «5»"></label>	
							<input type="radio" id="star-4" name="rating" value="4">
							<label for="star-4" title="Оценка «4»"></label>    
							<input type="radio" id="star-3" name="rating" value="3">
							<label for="star-3" title="Оценка «3»"></label>  
							<input type="radio" id="star-2" name="rating" value="2">
							<label for="star-2" title="Оценка «2»"></label>    
							<input type="radio" id="star-1" name="rating" value="1">
							<label for="star-1" title="Оценка «1»"></label>
						</div>
					</div>
					<div class="field">
						<input type="text" required placeholder="ФИО*">
					</div>
					<div class="field">
						<textarea name="" required id="" cols="30" rows="10" placeholder="Текст*"></textarea>
					</div>
					<div class="btn_form">
						<input type="submit" value="отправить отзыв" class="btn gr">
					</div>
				</form>
			</div>	
		</div>
	</div>
include _footer.jade